title{
  background-color: red;
}
body{
background-image: url('../img/bg.jpg');
background-size: cover;
}
#retake {
  display: none;
}
body{
  text-align:center;
  font-size: 30px;
}
h5{
  color: blue;
  font-size:35px;
}
/* #hint-showing{
  display:none;
} */
.hint-showing {
       display: none;
     }

     .clickable {
       cursor: pointer;
       color: #0088cc;
     }

#hint-showing {
       display: none;
 }
h1{
  background-color: red;
  font-size: 40px;
}
p{
  background-color: blue;
}
